asgiref==3.10.0
cfgv==3.4.0
distlib==0.4.0
Django==5.2.7
filelock==3.20.0
identify==2.6.15
iniconfig==2.3.0
nodeenv==1.9.1
packaging==25.0
platformdirs==4.5.0
pluggy==1.6.0
pre-commit==3.8.0
psycopg==3.2.11
psycopg-binary==3.2.11
Pygments==2.19.2
pytest==8.4.2
pytest-django==4.11.1
python-dotenv==1.0.0
PyYAML==6.0.3
setuptools==80.9.0
sqlparse==0.5.3
virtualenv==20.35.3
wheel==0.45.1
